[submodule "resources/assignment-01"]
	path = resources/assignment-01
	url = https://github.com/ste-script/assignment-01.git
[submodule "resources/spring-boot"]
	path = resources/spring-boot
	url = https://github.com/spring-projects/spring-boot.git
